[submodule "backend/stableDiffusionWebUI"]
	path = backend/stableDiffusionWebUI
	url = git@github.com:AUTOMATIC1111/stable-diffusion-webui.git
[submodule "backend/trainingModels/sd-vae-ft-mse-original"]
	path = backend/trainingModels/sd-vae-ft-mse-original
	url = https://huggingface.co/stabilityai/sd-vae-ft-mse-original
